@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --experience-background: #4d5456b9;
  --link-highlighted: #55d4ff;
  --skill-color: #92aaa5;
  --skill-color-text: #1f251e;
  --section-outline: #95a2a556;
}

body {
  color:white;
  background: rgb(38, 46, 49);
}

canvas {
  background: rgb(38, 46, 49);
}