@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --experience-background: #4d5456b9;
  --link-highlighted: #55d4ff;
  --skill-color: #92aaa5;
  --skill-color-text: #1f251e;
  --section-outline: #4d54561e;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color:white;
  background: rgb(38, 46, 49);
  /* background-image: 
    radial-gradient(
      farthest-corner circle at 49% 48%, 
      #5b5b5b46 0%, #4553580c 99% 99%
    ); */
}

canvas {
  background: rgb(38, 46, 49);
}